@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/Montserrat-VariableFont_wght.ttf")
}

@font-face {
    font-family: 'SF Pro';
    src: url('../fonts/SFPRODISPLAYREGULAR.OTF');
}

@font-face {
    font-family: 'Zen Dots';
    src: url('../fonts/ZenDots-Regular.ttf');
}